body, html {
	width: 560px;
	margin: 0 auto;
	border: 2px solid grey;
  	}

body {
	background-color: #484848;
	color: white;
	padding: 30px;
}

header {
	text-align: center;
	padding: 30px;

}

footer {
	text-align: center;
}


.resume {
	color: #90EE90;
	font-weight: bold;
}

.social {
	color: #90EE90;
	font-weight: bold;
	border-right: 1px solid grey;
	padding: 5px;
}

article {
	margin-bottom: 40px;
	border-bottom: 1px solid grey;
	border-top: 1px solid grey;
}

.date {
	font-size: 10pt;
	color: #D0D0D0;
	padding-bottom:10px;
}

.description {
	color: #D0D0D0;
}

.title {
	color: #D0D0D0;
	font-family: Arial;
	letter-spacing: 2px;
}

li {
	color: white;
	padding-bottom:20px;
}